@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@font-face {
  font-family: "Akzidenz-GroteskBQBold";
  src: url("../fonts/Akzidenz-GroteskBQBold CondensedAlt.eot");
  src: local("☺"), url("../fonts/Akzidenz-GroteskBQBold CondensedAlt.woff") format("woff"), url("../fonts/Akzidenz-GroteskBQBold CondensedAlt.ttf") format("truetype"), url("../fonts/Akzidenz-GroteskBQBold CondensedAlt.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue-Regular.eot");
  src: local("☺"), url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.ttf") format("truetype"), url("../fonts/BebasNeue-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 320;
  position: relative;
  color: #000;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "PT Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "PT Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 767.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 479.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

header {
  padding: 29px 0px 33px 0px;
}
@media (max-width: 767.98px) {
  header {
    padding: 5px 10px;
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}
@media (max-width: 767.98px) {
  .header-top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header-top-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
@media (max-width: 767.98px) {
  .header-top-lang {
    margin-bottom: 15px;
  }
}

.header-top-lang__item {
  display: block;
  line-height: 19px;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Bebas;
  letter-spacing: 1px;
  padding: 0px 4px;
  margin-right: 10px;
}
.header-top-lang__item.active {
  background-color: #000;
  color: #fff;
}

.header-top__link {
  position: relative;
  z-index: 6;
  font-family: Akzidenz-GroteskBQBold;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 16px;
  color: #000;
}
@media (max-width: 479.98px) {
  .header-top__link {
    font-size: 12px;
  }
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -15px;
}
@media (max-width: 767.98px) {
  .header-bottom {
    margin-top: -27px;
  }
}

.header-bottom__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.header-bottom-menu--right .header-bottom-menu-list {
  margin: 0px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}
.header-bottom-menu--right .header-bottom-menu-list li {
  margin: 0px 0px 0px 40px;
}
.header-bottom-menu--right .header-bottom-menu-list li:first-child {
  margin-left: 0px;
}
@media (max-width: 855px) {
  .header-bottom-menu--right .header-bottom-menu-list li {
    margin: 0px 0px 0px 20px;
  }
}
@media (max-width: 767.98px) {
  .header-bottom-menu--right .header-bottom-menu-list {
    display: block;
    text-align: left;
  }
  .header-bottom-menu--right .header-bottom-menu-list li {
    margin: 0px 0px 15px 0px;
  }
  .header-bottom-menu--right .header-bottom-menu-list li:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.header-bottom-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.header-bottom-menu-list li {
  margin: 0px 40px 0px 0px;
}
.header-bottom-menu-list li:last-child {
  margin-right: 0;
}
@media (max-width: 855px) {
  .header-bottom-menu-list li {
    margin: 0px 20px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .header-bottom-menu-list {
    display: block;
  }
  .header-bottom-menu-list li {
    margin: 0px 0px 15px 0px;
  }
}

.header-bottom-menu__link {
  font-family: Akzidenz-GroteskBQBold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #000;
}

.header-logo {
  position: relative;
  z-index: 6;
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
@media (max-width: 767.98px) {
  .header-logo {
    margin-bottom: 0px;
  }
}

.header-logo__text {
  display: block;
  color: #000;
  font-family: Bebas;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 8px;
}
@media (max-width: 767.98px) {
  .header-logo__text {
    font-size: 8px;
  }
}
@media (max-width: 479.98px) {
  .header-logo__text {
    letter-spacing: 4px;
  }
}

.header-logo__image {
  display: inline-block;
  margin: 13px 0px 13px 0px;
}
@media (max-width: 767.98px) {
  .header-logo__image {
    margin: 2px 0px 5px 0px;
  }
}
@media (max-width: 479.98px) {
  .header-logo__image {
    margin: 0px 0px 2px 0px;
  }
}

.header-logo-img {
  width: 205px;
  height: 79px;
}
@media (max-width: 767.98px) {
  .header-logo-img {
    width: 150px;
    height: 50px;
  }
}
@media (max-width: 479.98px) {
  .header-logo-img {
    width: 100px;
    height: 40px;
  }
}

.header-menu__icon {
  display: none;
}

@media (max-width: 767.98px) {
  .header-menu__icon {
    display: block;
    position: absolute;
    top: 18px;
    left: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .header-menu__icon span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .header-menu__icon span:first-child {
    top: 0px;
  }
  .header-menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }
  .header-menu__icon.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .header-menu__icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }
  .header-menu__icon.active span:last-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
  .header-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: -120%;
    top: 0;
    background-color: #fff;
    padding: 50px 10px 0px 20px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header-menu.active {
    left: 0;
  }
}