//<МИКСИНЫ>
@mixin flexbox(){display: -webkit-box;display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; font-size: 0;}
@mixin anim($time, $delay){-webkit-transition: all $time ease $delay; -moz-transition: all $time ease $delay; -ms-transition: all $time ease $delay; -o-transition: all $time ease $delay; transition: all $time ease $delay;}
@mixin scale($num) {-moz-transform: scale($num); -ms-transform: scale($num); -webkit-transform: scale($num); -o-transform: scale($num); transform: scale($num);}
@mixin rotate($deg) {-moz-transform: rotate($deg); -ms-transform: rotate($deg); -webkit-transform: rotate($deg); -o-transform: rotate($deg); transform: rotate($deg);}
//</МИКСИНЫ>


//<ШРИФТЫ>

//<Подключаем шрифты>
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@font-face {
	font-family: 'Akzidenz-GroteskBQBold';
	src: url('../fonts/Akzidenz-GroteskBQBold CondensedAlt.eot');
	src: local('☺'), url('../fonts/Akzidenz-GroteskBQBold CondensedAlt.woff') format('woff'), url('../fonts/Akzidenz-GroteskBQBold CondensedAlt.ttf') format('truetype'), url('../fonts/Akzidenz-GroteskBQBold CondensedAlt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas';
	src: url('../fonts/BebasNeue-Regular.eot');
	src: local('☺'), url('../fonts/BebasNeue-Regular.woff') format('woff'), url('../fonts/BebasNeue-Regular.ttf') format('truetype'), url('../fonts/BebasNeue-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//font-display: swap;
//</Подключаем шрифты>


//<Шрифт по умолчанию>
$fontfamily: "PT Sans";
//</Шрифт по умолчанию>
//</ШРИФТЫ>

//<ПЕРЕМЕННЫЕ>
$minwidth: 320;
$mw: 880;
$md1: 855;
$md2: 767.98;
$md3: 479.98;
//</ПЕРЕМЕННЫЕ>

//<ОБНУЛЕНИЕ ОБЩИЕ ПАРАМЕТРЫ>
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside,section{display: block;}
html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	min-width: $minwidth;
	position: relative;
	color: #000;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: $fontfamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
//</ОБНУЛЕНИЕ ОБЩИЕ ПАРАМЕТРЫ>

//<ОБОЛОЧКА>
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container {
	max-width: $mw+px;
	margin: 0 auto;
	width: 100%;
	@media (max-width:$md2+px) {max-width: 750px;}
	@media (max-width:$md3+px) {max-width: none; padding: 0 10px;}
}
//</ОСНОВНАЯ СЕТКА>

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "header.scss";
@import "footer.scss";
@import "forms.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>

//<ОСНОВНОЙ БЛОК>

//BLOCK PRIVATE
.private {
	@include flexbox();
	background-color: #000;
	margin: 0px 0px 75px 0px;
	@media (max-width: $md2+px) {
		margin: 0px 0px 40px 0px;
	}
}
.private__column {
	flex: 0 0 50%;
	@media (max-width: $md2+px) {
		flex: 1 1 100%;
		&:first-child {
			display: none;
		}

	}
}
.private__image {
	height: 100%;
}
.private-image__pic {
	display: none;
}
.private-body {
	padding: 75px 20px 75px 60px;
	@media (max-width: $md1+px) {
		padding: 30px 20px 30px 30px;
	}
}
.private-body__content {
	max-width: 305px;
}
.private-body__title {
	font-family: 'Akzidenz-GroteskBQBold';
	font-size: 50px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #fff;
	margin: 0px 0px 30px 0px;
	@media (max-width: $md1+px) {
		font-size: 35px;
		margin: 0px 0px 20px 0px;
	}
}
.private-body__text {
	font-size: 15px;
	line-height: 25px;
	color: #fff;
	margin: 0px 0px 50px 0px;
	@media (max-width: $md1+px) {
		margin: 0px 0px 30px 0px;
	}
}
.private-body__buttons {
	@include flexbox();
	align-items: center;
}
.private-body-buttons__link {
	font-family: 'Bebas';
	text-transform: uppercase;
	text-decoration: underline;
	color: #fff;
	font-size: 15px;
	margin: 0px 0px 0px 15px;
	letter-spacing: 1.5px;
}
//===================================================

//BLOCK SERVICES
.services {
	margin: 0px 0px 40px 0px;
	padding: 0px 5px 0px 5px;
	@media (max-width: $md2+px) {
		margin: 0px 0px 0px 0px;
	}
}
.services-body {
	@include flexbox();
	@media (max-width: $md2+px) {
		flex-wrap: wrap;
	}
}
.services__column {
	flex: 0 0 25%;
	margin: 0px 0px 40px 0px;
	padding: 0px 5px 0px 5px;
	@media (max-width: $md2+px) {
		flex: 0 0 50%;
	}

	@media (max-width: 380px) {
		flex: 1 1  100%;
	}
}
.services__item {
	@include flexbox();
	height: 100%;
	flex-direction: column;
}
.services-item__image {
	display: block;
	padding: 0 0 110% 0;
	margin: 0px 0px 25px 0px;
	@media (max-width: 380px) {
		margin: 0px 0px 15px 0px;
	}
}
.services-item__pic{
	display: none;
}
.services-item__title {
	height: 50px;
	overflow: hidden;
	max-width: 185px;
	padding: 0px 10px 0px 0px;
	display: block;
	font-family: 'Akzidenz-GroteskBQBold';
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color: #000;
	margin: 0px 0px 30px 0px;
	@media (max-width: 380px) {
		max-width: none;
		height: auto;
		overflow: visible;
		margin: 0px 0px 15px 0px;
	}
}
.services-item__text {
	flex: 1 1 auto;
	max-width: 185px;
	padding: 0px 10px 0px 0px;
	font-size: 15px;
	line-height: 25px;
	margin: 0px 0px 20px 0px;
	@media (max-width: 380px) {
		max-width: none;
		margin: 0px 0px 15px 0px;
	}
}
.services-item__btn {
	margin: 0px 0px 29px 0px;
	@media (max-width: 380px) {
		margin: 0px 0px 19px 0px;
	}
}
.services-item__link {
	font-family: 'Bebas';
	font-size: 15px;
	text-transform: uppercase;
	color: #000;
	text-decoration: underline;
	letter-spacing: 1.5px;
}
//===================================================

//BLOCK ...

//===================================================

//</ОСНОВНОЙ БЛОК>


