// Файл обнуляющих стилей
@import "nullstyle.scss";

//ШРИФТЫ

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@font-face {
	font-family: 'Akzidenz-GroteskBQBold';
	src: url('../fonts/Akzidenz-GroteskBQBold CondensedAlt.eot');
	src: local('☺'), url('../fonts/Akzidenz-GroteskBQBold CondensedAlt.woff') format('woff'), url('../fonts/Akzidenz-GroteskBQBold CondensedAlt.ttf') format('truetype'), url('../fonts/Akzidenz-GroteskBQBold CondensedAlt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas';
	src: url('../fonts/BebasNeue-Regular.eot');
	src: local('☺'), url('../fonts/BebasNeue-Regular.woff') format('woff'), url('../fonts/BebasNeue-Regular.ttf') format('truetype'), url('../fonts/BebasNeue-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Шрифт по умолчанию
$fontfamily: "PT Sans";